### Example user template template
### Example user template

#MacOS stupid .DS_Store
.DS_Store
# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
# Logs
/logs/*
/vendor