==
<nav><!-- Nav -->
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <nav class="pull">
                <ul class="top-nav">
                    <li><a href="section-banner">Home <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                    </li>
                    <li><a href="content-1-3">Features <span class="indicator"><i
                            class="fa fa-angle-right"></i></span></a></li>
                    <li><a href="section-team">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                    <li><a href="content-1-7">Clients <span class="indicator"><i
                            class="fa fa-angle-right"></i></span></a>
                    </li>
                    <li><a href="section-contact">Contact <span class="indicator"><i
                            class="fa fa-angle-right"></i></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- /.container-fluid -->
</nav><!-- /.nav -->

<section class="hero" id="section-banner">
    <div class="container">
        <div class="brand">
            <img src="{{ 'assets/images/logo.png'|theme }}" class="brand-img img-responsive">
        </div>
        <div class="navicon">
            <a id="nav-toggle" class="nav-slide-btn" href="#"><span></span></a>
        </div>
        <div class="col-md-12 text-center">
            <div class="banner-heading">
                <span class="lead">IDEAL SOLUTION FOR YOUR BUSINESS</span>
                <h1>YOUR <span class="blue">CIPHERPOLS</span> DO IT ALL</h1>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a id="more-features" href="content-1-3" class="btn btn-ghost">More Features</a>
        </div>
    </div>
</section>
