<!--// END Content Block 1-3 --><!-- Start Content Block 1-4 -->
<section id="content-1-4" class="content-block-nopad content-1-4">
    <div class="container-fluid">

        <div class="image-container col-md-6">
            <div class="bg-features">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>
                            Everything you need <br />
                            in one place
                        </h2>
                        <p>
                            <img src="{{ 'assets/images/icon_x.png'|theme }}" alt="">
                        </p>

                        <p>The One Piece manga and anime series features an extensive cast of characters created by Eiichiro Oda. The series takes place in a fictional universe where vast numbers of pirates, soldiers, revolutionaries. </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <img src="{{ 'assets/images/icon_update.png'|theme }}" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>UP TO DATE SOLUTION</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <img src="{{ 'assets/images/icon_unique.png'|theme }}" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>UNIQUE DESIGN</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <img src="{{ 'assets/images/icon_coding.png'|theme }}" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>PROFESSIONAL CODING</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <img src="{{ 'assets/images/icon_qc.png'|theme }}" alt="">
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>QC TEST</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div>

    </div><!-- /.container -->
</section>