description = "Cipherpols Members"

[members]
==
<section id="section-team" class="content-block team-1">
    <div class="container">

        <div class="rpw">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>MEMBERS OF CIPHER POLS</h1>
                <p>
                    Each of our member is represented by a character found in The One Piece. Please choose the best character your project in the below list. For more information, please contact us in the form below.
                </p>
            </div>
        </div>

        <div class="row">

            {% component 'members' %}

        </div>
        <!-- /.row -->
    </div><!-- /.container -->
</section>