description = "Cipherpols Services"

[uiFeature uiFeature1]
feature = "Virtual Community"
description = "We are a group of professional software developers. Join us to enjoy cost efficient and flexible software development solution."
image = "assets/images/icon_professional.png"

[uiFeature uiFeature2]
feature = "Agile development."
description = "Development method that give you the real “touch” of your software at short and frequent releases."
image = "assets/images/icon_digital.png"

[uiFeature uiFeature3]
feature = "Members"
description = "Enhance your development skills, challenge yourself with new domain and technology. Together we create a standout position for you in the job market."
image = "assets/images/icon_global.png"
==
<section id="content-1-3" class="content-block content-1-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="underlined-title">
                    <h1>FEATURES</h1>
                </div>

                <div class="services-wrapper">
                    {% component 'uiFeature1' %}
                    {% component 'uiFeature2' %}
                    {% component 'uiFeature3' %}
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>